/* styles.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 300px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="date"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

form input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}
